[submodule ".emacs.d/src/org-mode"]
	path = .emacs.d/src/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/src/org-impress-js"]
	path = .emacs.d/src/org-impress-js
	url = https://github.com/kinjo/org-impress-js.el.git
[submodule ".emacs.d/src/yasnippet"]
	path = .emacs.d/src/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/src/haskell-mode"]
	path = .emacs.d/src/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".zsh-autosuggestions"]
	path = .zsh-autosuggestions
	url = git://github.com/tarruda/zsh-autosuggestions
[submodule ".emacs.d/src/multiple-cursors.el"]
	path = .emacs.d/src/multiple-cursors.el
	url = https://github.com/emacsmirror/multiple-cursors.git
[submodule ".emacs.d/src/phi-search"]
	path = .emacs.d/src/phi-search
	url = https://github.com/zk-phi/phi-search.git
[submodule ".emacs.d/src/expand-region.el"]
	path = .emacs.d/src/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/src/cucumber.el"]
	path = .emacs.d/src/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/src/yaml-mode"]
	path = .emacs.d/src/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/src/magit"]
	path = .emacs.d/src/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/src/git-modes"]
	path = .emacs.d/src/git-modes
	url = https://github.com/magit/git-modes.git
[submodule ".emacs.d/src/el-monokai-theme"]
	path = .emacs.d/src/el-monokai-theme
	url = https://github.com/lvillani/el-monokai-theme.git
[submodule ".emacs.d/src/highlight-parentheses"]
	path = .emacs.d/src/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
[submodule ".emacs.d/src/monokai-emacs"]
	path = .emacs.d/src/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule ".emacs.d/src/emacs-fish"]
	path = .emacs.d/src/emacs-fish
	url = https://github.com/wwwjfy/emacs-fish.git
[submodule ".emacs/emacs"]
	path = .emacs/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule ".emacs"]
	path = .emacs
	url = git://git.savannah.gnu.org/emacs.git
