# -*- mode: snippet -*-
# name: el
# key: el
# expand-env: ((yas/indent-line 'fixed) (yas/wrap-around-region 'nil))
# --
#+NAME: $1
#+BEGIN_SRC emacs-lisp :tangle ${2:yes}
$0 ; elisp code here
#+END_SRC