# -*- mode: snippet; require-final-newline: nil -*-
# name: uml
# key: uml
# binding: direct-keybinding
# --
#+NAME: $1
#+BEGIN_SRC plantuml :file ${1}.png :java -Djava.awt.headless=true -Xmx256m
  $0
#+END_SRC